@charset "UTF-8";
/* CSS Document */


.container2 {
    text-align: center;
}
.container2 .middle-img {
    margin: 0 12px;
}

.buyers{
	font-weight: normal;
	width: 90%;
	height: auto;
	display: inline-block;
	line-height: 1.2em;
	font-size: 1.5em;
	overflow: hidden;
	margin-left: 5.0%;

}

.buyers p{
font-size: 14px;

	font-weight: normal;
}

.selector-container{

position: relative;
font-size: 12px;
}


* {
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
}
body {
	height: auto;
	max-width: 100%;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: #000000;
	background-image: url(../images/indiana_aerialz.jpg);
	background-repeat: repeat;
	margin: 0px auto;
}

#wrapper {
	width: 80%;
	height: auto;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 200px;
	background-color: #336697;
	background: rgba(51, 102, 151, 0.95); /* 75% transparent */
	position: relative;
}

#title {
	background-image: url(../images/khc_logo.png);
	background-repeat: no-repeat;
	width: 300px;
	height: 125px;
	margin: 10px auto;
	margin-top: 20px;
	padding: 10px;
}
#title h1 {
	color: #FFCB05;
	font-size: 6em;
	text-align: center;
	font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
	font-weight: bolder;
	padding: 10px;
	position: relative;
	margin: 0px auto;
}
footer h2 {
	color: #FFCB05;
	font-size: 1.6em;
	font-family: 'Roboto Condensed', Helvetica, Verdana, Arial, sans-serif;
	text-align: center;
	margin: 0px auto;
	margin-top: 40px;
	margin-bottom: 5px;
	position: relative;
}
footer h3 {
	color: white;
	font-size: 1.4em;
	font-family: 'Roboto Condensed', Helvetica, Verdana, Arial, sans-serif;
	text-align: center;
	margin: 0px auto;
	margin-bottom: 1%;
	position: relative;
}
#text h3 {
	text-align: center;
	color: white;
}
#text h4 {
	color: #FFCB05;
	font-size: 1.7em;
	line-height: 1.4em;
	font-family: 'Roboto Condensed', Helvetica, Verdana, Arial, sans-serif;
	text-align: center;
	margin: 30px auto;
	position: relative;
}
#text h5 {
	clear: both;
	color: black;
	font-size: 1.0em;
	font-family: 'Roboto Condensed', Helvetica, Verdana, Arial, sans-serif;
	line-height: 1.2em;
	text-align: center;
	margin: 5px auto;
	margin-top: 10px;
	padding-top: 1%;
	position: relative;
}
#about h5 {
	color: black;
	font-size: .85em;
	font-family: 'Roboto Condensed', Helvetica, Verdana, Arial, sans-serif;
	line-height: 1.2em;
	text-align: center;
	margin: 5px auto;
	margin-top: 10px;
	padding-top: 1%;
	position: relative;
}
footer h6 {
	color: white;
	font-size: .8em;
	font-family: 'Roboto Condensed', Helvetica, Verdana, Arial, sans-serif;
	text-align: center;
	position: relative;
	margin: 1px auto;
	padding-bottom: 2%;
	padding-top: -2%;
}
header {
	width: 100%;
	height: auto;
	text-align: center;
	margin: 30px auto;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: bold;
	padding: 0px;
	color: #FFCB05;
	position: relative;
}
nav {
	height: auto;
	width: 100%;
	font-size: 16pt;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin: 0px auto;
}
nav ul {
	padding: 0px;
	margin: 0px auto;
	width: 100%;
	height: auto;
}
nav li {
	display: inline-block;
	float: left;
	width: 16.4%;
}
.menu:before, .menu:after {
	content: " ";
	display: table;
}
.menu:after {
	clear: both;
}
.menu {
 *zoom: 1;
}
nav a {
	color: #fff;
	display: inline-block;
	padding: 12.5%;
	text-align: center;
	text-decoration: none;
}
nav li a {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
nav.menu li + li a {
	border-left: 1px solid #FFCB05;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	color: #E6E6E6;
}
nav a#pull {
	display: none;
}
#text {
	width: 80%;
	padding: 0px 10%;
	margin: 0px auto;
	line-height: 2.2em;
	font-size: 2em;
	position: relative;
}
.about {
	width: 45%;
	height: auto;
	display: inline-block;
	padding: 0 .5% 0 2.5%;
	margin: -.25% .5%;
	line-height: 1.2em;
	font-size: 1.5em;
	overflow: hidden;
	float: left;
}
#innovation {
	width: 95%;
	margin: 0px auto;
	line-height: 1.2em;
	text-align: center;
	font-size: 2em;
	position: relative;
}
#innovation img {
	width: 46%;
	float: left;
	margin: .5% 2%;
	border-radius: 15px;
}
#innovation h3 {
	font-size: .65em;
	text-align: center;
	line-height: 1.4em;
	display: inline-block;
	color: #FFCB05;
	width: 90%;
}
#innovation h4 {
	font-size: .6em;
	text-align: center;
	line-height: 1.4em;
	display: inline-block;
	color: #FFCB05;
	width: 90%;
}
#specific {
	width: 95%;
	margin: 0px auto;
	line-height: 1.2em;
	text-align: center;
	font-size: 2em;
	position: relative;
}
#specific h2 {
	font-size: 1.75em;
	text-align: center;
	line-height: 1.4em;
	display: inline-block;
	color: white;
	margin-top: -2%;
	margin-bottom: 1%;
	width: 90%;
}
#specific h3 {
	font-size: .65em;
	text-align: center;
	line-height: 1.4em;
	display: inline-block;
	color: #FFCB05;
	width: 90%;
}
#specific h4 {
	font-size: .6em;
	text-align: center;
	line-height: 1.4em;
	display: inline-block;
	color: #FFCB05;
	width: 90%;
}
#specific p {
	width: 97%;
	text-align: center;
	font-size: 1em;
	line-height: 1.2em;
}

#specific img {
	width: 98%;
	
	margin: .5% 2%;
	border-radius:15px;
	}

.left {
	width: 100%;
	height: auto;
	padding: 1%;
	color: white;
	margin: 10px auto;
}
#tight {
	width: 100%;
	height: auto;
	margin: 2% auto;
	display: compact;
}
#tight2 {
	margin-top: 5em;
	margin-left: 15.0%;
	width: 70%;
	height: auto;
	background-color: white;

}
.mobilesOnly {
	visibility: hidden;
}
#phone {
	visibility: hidden;
}
footer {
	width: 80%;
	margin: 0px auto;
	padding: 0px 10%;
	background-position: bottom center;
	position: relative;
}
img {
	max-width: 100% !important;
	height: auto;
	display: block;
	
}
.container2 img{
	height: auto;
	display: inline-block;
padding: 1em;
}

@media screen and (max-width: 768px) {
#wrapper {
	width: 90%
}
header {
	width: 100%;
}
nav {
	height: auto;
	margin: 15px auto;
	margin-bottom: 30px;
}
nav ul {
	width: 100%;
	display: block;
	height: auto;
}
nav li {
	width: 50%;
	float: left;
	position: relative;
}
nav li a {
	width: 100%;
	clear: both;
	border: none;
}
nav a {
	color: #fff;
	display: inline-block;
	padding: 10px;
	width: 125px;
	text-align: center;
	text-decoration: none;
}
nav.menu li + li a {
	border-left: none;
}
#text h5 {
	font-size: 1em;
	letter-spacing: -.05em;
	line-height: 1.25em;
	text-align: left;
	margin: 1px auto;
	padding-top: 5%;
	position: relative;
}
#text h4 {
	font-size: 1.6em;
	line-height: 1.8em;
	text-align: center;
	margin: 30px auto;
	position: relative;
}
.about {
	width: 80%;
	float: none;
	display: block;
	padding: 5% 5%;
	margin: 0px auto;
	line-height: 1.2em;
	font-size: 1.5em;
	position: relative;
}
footer {
	margin: -90px auto;
}
}

@media only screen and (max-width : 480px) {
nav {
	border-bottom: 0;
}
nav ul {
	display: none;
	height: auto;
}
nav a#pull {
	display: block;
	background-color: #283744;
	width: auto;
	position: relative;
}
nav li a {
	width: 100%;
	clear: both;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
nav a {
	padding: 18px;
	margin: 10px 0;
	width: 175px;
	text-align: left;
	font-size: 1.2em;
}
nav a#pull:after {
	content: "";
	background: url('nav-icon.png') no-repeat;
	width: 10px;
	height: 30px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 10px;
}
#text h5 {
	font-size: 0.9em;
	line-height: 1.2em;
	text-align: left;
	margin: 1px auto;
	padding-top: 5%;
	position: relative;
}
#text h4 {
	font-size: 1.4em;
	line-height: 1.55em;
	text-align: left;
	margin: 30px auto;
	position: relative;
}
.about {
	width: 90%;
	float: none;
	display: block;
	padding: 5% 5%;
	margin: 0px auto;
	line-height: 1.2em;
	font-size: 1.5em;
	position: relative;
}
}

@media only screen and (max-width : 320px) {
#wrapper {
	width: 90% auto;
	height: auto;
	margin: 0 auto;
}
nav li {
	display: block;
	float: none;
	width: 100%;
}
nav li a {
	border-bottom: 1px solid #576979;
}
#text {
	width: 85%;
	margin: 0px auto;
	margin-left: -5px;
}
nav a {
	padding: 10px 25px;
	margin: 10px 0;
	width: 175px;
	text-align: left;
}
#text h3 {
	visibility: hidden;
}
#title h1 {
	font-size: 2.8em;
	text-align: center;
	padding: 5%;
	position: relative;
	margin: 0px auto;
}
.mobilesOnly {
	visibility: visible;
	text-decoration: none;
	color: white;
}
#phone {
	visibility: visible;
	width: 100%;
	text-align: center;
	margin-top: -130px;
	margin-left: -3px;
}
#text h5 {
	font-size: 0.75em;
	line-height: 1.1em;
	text-align: left;
	margin: 1px auto;
	padding-top: 5%;
	position: relative;
}
#text h4 {
	font-size: 1.2em;
	line-height: 1.35em;
	text-align: left;
	margin: 30px auto;
	position: relative;
}
#text h3 {
	visibility: hidden;
}
.about {
	width: 90%;
	float: none;
	display: block;
	padding: 5% 5%;
	margin: 0px auto;
	line-height: 1.2em;
	font-size: 1.5em;
	position: relative;
}
footer {
	padding-top: -1px;
	padding-bottom: 20px;
	margin-top: 15px;
	border-top: 2px solid black;
	width: 75%;
}
}
